*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "HelveticaNowDisplay-Regular";
}

* img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "HelveticaNowDisplay-Black";
  src: url(../assets/font/HelveticaNowDisplay-Black.ttf);
}

@font-face {
  font-family: "HelveticaNowDisplay-Regular";
  src: url(../assets/font/HelveticaNowDisplay-Regular.ttf);
}

.main-header {
  width: 100%;
  height: 100vh;
  max-width: 1560px;
  margin: 0 auto;
}

.main-header .top-navbar {
  width: 100%;
  max-width: 1560px;
  height: 12vh;
  max-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 200px;
}

.main-header .top-navbar > a {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  bottom: 14px;
}

.main-header .top-navbar > a svg {
  position: relative;
  top: 11px;
}

.main-header .top-navbar ul li {
  list-style: none;
}

.main-header .top-navbar ul a {
  color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  text-decoration: none;
  background: transparent;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid rgba(31, 36, 99, 0.4);
}

.main-header .top-navbar ul a:hover {
  background: #1f2463;
  color: #ffffff;
}

.main-header .header-body {
  width: 100%;
  height: 100vh;
  max-width: 1560px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px;
}

.main-header .header-body .left {
  width: 400px;
}

.main-header .header-body .left h1 {
  font-size: 4rem;
  font-family: "HelveticaNowDisplay-Black";
  line-height: 4rem;
  position: relative;
}

.main-header .header-body .left h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #428dfc;
  left: 0;
}

.main-header .header-body .left p {
  width: 70%;
  margin-top: 40px;
  letter-spacing: 2px;
  word-spacing: 3px;
  opacity: 0.5;
  text-align: justify;
  line-height: 1.5rem;
}

.main-header .header-body .left a {
  color: #ffffff;
  padding: 20px 30px;
  text-decoration: none;
  background: #428dfc;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 25px rgba(66, 141, 252, 0.5);
          box-shadow: 0 10px 25px rgba(66, 141, 252, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  top: 35px;
}

.main-header .header-body .left a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-header .header-body .right {
  width: 800px;
  position: relative;
  left: 150px;
  top: 20px;
}
/*# sourceMappingURL=style.css.map */